/* GIMP theme.css
 *
 * This file is written on GIMP startup and on every theme change.
 * It is NOT supposed to be edited manually. Edit your personal
 * gimp.css file instead (/home/pbarovsky/.var/app/org.gimp.GIMP/config/GIMP/3.0/gimp.css).
 */

@import url("file:///home/pbarovsky/.var/app/org.gimp.GIMP/config/GIMP/3.0/themes/DarkProfessional/gimp.css");
@import url("file:///app/etc/gimp/3.0/gimp.css");

* { -gtk-icon-style: symbolic; }


* { -GimpToolPalette-tool-icon-size: small-toolbar; }
* { -GimpDock-tool-icon-size: small-toolbar; }
* { -GimpDockbook-tab-icon-size: small-toolbar; }
* { -GimpColorNotebook-tab-icon-size: small-toolbar; }
* { -GimpPrefsBox-tab-icon-size: small-toolbar; }
* { -GimpEditor-button-icon-size: small-toolbar; }
* { -GimpDisplayShell-button-icon-size: small-toolbar; }
* { -GimpFgBgEditor-tool-icon-size: small-toolbar; }
toolpalette button { padding: 1px; }
button, tab { padding: 0px; }
paned separator { padding: 1px; }
* { font-size: 0.80000000000000004rem; }

/* end of theme.css */
